.btn-matemag {
  background-color: #fff;
  border-radius: 50px;
  height: 50px;
  line-height: 5px;
  width: 80%;
}
@media (max-width: 600px) {
  .btn-matemag {
    width: 283px;
    text-align: center;
    margin-left: 80px;
  }
}
@media (max-width: 450px) {
  .btn-matemag {
    margin-left: 0;
  }
}

::placeholder {
  color: #fff;
}

body {
  background-image: url("../assets/img/COMPU - FONDO.svg");
  background-repeat: repeat;
}

.d-none-lg {
  display: none;
}
@media (min-width: 901px) and (max-width: 1400px) {
  .d-none-lg {
    display: none !important;
  }
}
@media (min-width: 1401px) {
  .d-none-lg {
    display: none !important;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 35px solid #F7D63A;
}

.bg-primary {
  background-color: #5C6D6E !important;
}

.bg-secondary {
  background-color: #F7D63A !important;
}

.bg-darker {
  background-color: #202527 !important;
}

.font-primary {
  color: #5C6D6E !important;
}

.font-secondary {
  color: #F7D63A !important;
}

.mt-7 {
  margin-top: 5.5rem !important;
}

@media (min-width: 601px) and (max-width: 900px) {
  #email {
    font-size: 1.2rem !important;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  #contacto {
    margin: 0 60px;
  }
}
@media (max-width: 600px) {
  #contacto #btn-whatsapp {
    width: 86% !important;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  #contacto #btn-whatsapp {
    width: 60% !important;
  }
}

.navbar-brand img {
  width: 64px;
  height: 64px;
}

@media (max-width: 800px) {
  .no-padding-mobile {
    padding: 0 !important;
  }
}

@media (min-width: 993px) {
  .no-padding-desktop {
    padding: 0 !important;
  }
}

.banner {
  width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  .banner {
    display: block !important;
  }
}

.banner-tablet {
  width: 100%;
  height: auto;
}
@media (min-width: 601px) and (max-width: 900px) {
  .banner-tablet {
    display: block !important;
  }
}

@media (min-width: 901px) and (max-width: 1400px) {
  .div-logo-mobile {
    display: none !important;
  }
}
@media (min-width: 1401px) {
  .div-logo-mobile {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .header-wrapper {
    margin-top: 48px !important;
  }
}

.sobremi-wrapper {
  border-radius: 15px;
  background-color: #566E7A !important;
}

.avatar-wrapper {
  width: 230px;
  height: 230px;
  border-radius: 200px;
  overflow: hidden;
}
.avatar-wrapper img {
  width: 230px;
  height: auto;
  border-radius: 200px;
}

.ref-wrapper {
  background-color: #202527;
}

.ref-item {
  width: 92% !important;
  margin: 0px auto;
  border-radius: 10px;
  height: 180px;
  padding: 30px;
}
.input-textarea {
  background-color: #566E7A !important;
  border: 4px solid #fff;
  color: #fff;
  border-radius: 20px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.input-textarea:focus {
  border-color: #fff;
  outline: none;
}

@media (max-width: 600px) {
  .font-mini {
    font-size: 15px !important;
  }
}

.carousel-control-prev-icon {
  background-image: none;
}

.carousel-control-next-icon {
  background-image: none;
}

@media (max-width: 990px) {
  #mainNav .navbar-nav li {
    border-bottom: 1px solid #566E7A;
  }
  #mainNav .navbar-nav li:first-of-type {
    border-top: 1px solid #F7D63A;
  }
  #mainNav .navbar-nav li:last-of-type {
    border-bottom: 1px solid #F7D63A;
    margin-bottom: 45px;
  }
}
@media (min-width: 901px) and (max-width: 1400px) {
  #mainNav .navbar-nav {
    justify-content: space-between !important;
    margin-left: 0px !important;
    width: 100% !important;
    padding: 0px 25px !important;
  }
}
@media (min-width: 1401px) {
  #mainNav .navbar-nav {
    justify-content: space-between !important;
    margin-left: 0px !important;
    width: 100% !important;
    padding: 0px 25px !important;
  }
}

@media (max-width: 600px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
  }
}

#mainNav .navbar-toggler {
  height: 100%;
}
#mainNav .navbar-toggler:focus {
  height: 100%;
}
#mainNav .navbar-toggler:active {
  height: 100%;
}

.carousel-item .fotos {
  width: 72% !important;
  height: auto !important;
  border: 15px solid #F7D63A;
  border-radius: 40px;
  box-shadow: 0px 0.5px 2px #ccc inset;
  margin: 0px auto !important;
}

/*# sourceMappingURL=general.css.map */
