.btn-matemag
{
    background-color: #fff;
    border-radius: 50px;
    height: 50px;
    line-height: 5px;
    width: 80%;

    @include mobile 
    {
        width: 283px;
        text-align: center;
        margin-left: 80px;
    }
    @media (max-width:450px) {


        margin-left: 0;
    }
    @include web 
    {        
        width: 39%;
    }
    @include webXL
    {        
        width: 39%;
    }
}
#btn-whatsapp-wrapper
{
    @include web 
    {
        justify-content: flex-end !important;
        margin-right: 50px !important;
    }
    @include webXL 
    {
        justify-content: flex-end !important;
        margin-right: 50px !important;
    }
}
