@import './_mixins.scss';
@import './variables' ;
@import './btn' ;


::placeholder
{
    color: #fff;
    
    
}
body 
{
    background-image: url('../assets/img/COMPU\ -\ FONDO.svg');
    background-repeat: repeat;
    
}
.d-none-lg
{
    display: none;
    @include web 
    {
        display: none !important;
    }
    @include webXL 
    {
        display: none !important;
    }
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;    
    border-bottom: 35px solid #F7D63A;
  }
.bg-primary
{
    background-color: $color-primary !important;
}
.bg-secondary
{
    background-color: $color-secondary !important;
}
.bg-darker
{
    background-color: $color-dark !important;
}
.font-primary
{
    color: $color-primary !important;
}
.font-secondary
{
    color: $color-secondary !important;
}
.mt-7
{
    margin-top: 5.5rem !important;
}
#email
{
    @include tablet 

    {
        font-size: 1.2rem !important;
    }
 
}
#contacto
{
    @include tablet{
        margin: 0 60px;
    }
    #btn-whatsapp
    {
        @include mobile 
        {
            width: 86% !important;
        }
        @include tablet 
        {
            width: 60% !important;
        }
    }
}

.navbar-brand
{
    img 
    {
        width: 64px;
        height: 64px;
    }
}
.no-padding-mobile
{
    @media (max-width:800px) {
        padding:0 !important
    }
  
}
.no-padding-desktop
{
    @media (min-width:993px) {
        padding:0 !important
    }
  
}
.banner
{
    width: 100%;
    height: auto;
    @include mobile
    {
        display: block !important;
    }
    
}
.banner-tablet
{
    width: 100%;
    height: auto;
    @include tablet 
    {
        display: block !important;
    } 
    @include web 
    {
        display: block !important;
    }
    @include webXL 
    {
        display: block !important;
    }

}
.div-logo-mobile
{
     @include web
     {
         display: none !important;
     }
     @include webXL
     {
         display: none !important;
     }
}
.header-wrapper
{
    @include mobile
    {
        margin-top: 48px !important;
    }
}
.navbar
{
    @include mobile
    {
        // height: 80px !important;
        // padding-top: 0px !important;
    }
}
.text-items
{
    @include mobile
    {
       
    }
}
.sobremi-wrapper
{
    
    border-radius: 15px;
    // width: 80% !important;
    background-color: #566E7A !important; 
}
#msj-wrapper
{
    @include web 
    {
        height: 600px;
    }
    @include webXL
    {
        height: 600px;
    }

}
.avatar-wrapper
{
    width: 150px;
    height: 150px;  
    border-radius: 200px;
    overflow: hidden;
    img
    {
        width: 150px;
        height: auto;
        border-radius: 200px;
    }
    @include web 
    {        
        width: 151px;
        height: auto;
        margin-left: 20px;
        align-self: flex-start;
       justify-content: center ;
    }
    @include webXL 
    {        
        width: 151px;
        height: auto;
        margin-left: 20px;
        align-self: flex-start;
        justify-content: center ;
    }

}
.ref-wrapper
{
    background-color: #202527;
}
.ref-item
{
    
    width: 92% !important;
    margin: 0px auto;
    border-radius: 10px;
    height: 180px;
    padding: 30px;

    @include web 
    {
        width: 52% !important;
        height: 250px !important;
    }
    @include webXL
    {
        width: 52% !important;
        height: 250px !important;
    }

}
.input-textarea
{

    background-color: #566E7A !important;
    border: 4px solid #fff;
    color: #fff;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 18px;
    font-family: Arial, Helvetica, sans-serif;

    &:focus
    {
        border-color: #fff;
        outline: none;
    }
}
.font-mini
{
    @include mobile
    {
        font-size: 15px !important;
    }
}
.carousel-control-prev-icon {
    background-image: none;
}
.carousel-control-next-icon {
    background-image: none;
}
.carousel-control-next {

    @include web
    {
        right: 180px;
    }

    @include webXL
    {
        right: 280px;
    }
   
}
.carousel-control-prev {
    @include web
    {
        left: 180px;
    }

    @include webXL
    {
        left: 280px;
    }
   
}
#mainNav .navbar-nav {
    
    @media (max-width:990px) {

        li
        {
            border-bottom: 1px solid #566E7A;
            
            &:first-of-type
            {
                border-top: 1px solid #F7D63A;
            }
            &:last-of-type
            {
                border-bottom: 1px solid #F7D63A;
                margin-bottom: 45px;
            }
        }
    }
    @include web 
    {
        justify-content: space-between !important;
        margin-left: 0px !important;
        width: 100% !important;
        padding: 0px 25px !important;
    }
    @include webXL
    {
        justify-content: space-between !important;
        margin-left: 0px !important;
        width: 100% !important;
        padding: 0px 25px !important;
    }
   

}
#mainNav {
   

    @include mobile
    {
        padding-top: 0;
        padding-bottom: 0;
    }
   
}
#mainNav .navbar-toggler {
    
    height: 100%;

    &:focus
    {
        height: 100%;
    }
    &:active
    {
        height: 100%;
    }
}


.carousel-item
{

    
    .fotos 
    {
        width: 72% !important;
        height: auto !important;
        border: 15px solid #F7D63A;
        border-radius: 40px;
        box-shadow: 0px 0.5px 2px #ccc inset;
        margin: 0px auto !important;
    }
}

// .carousel-control-prev-icon-dark {
//     background-image: none !important;
// }
// .carousel-control-next-icon-dark {
//     background-image: none !important;
// }

#sobreMagda
{
    @include web 
    {
        flex-direction: row !important;
    }
    @include webXL 
    {
        flex-direction: row !important;
    }
}
.sobremate 
{
    p 
    {
        @include web 
        {
            text-align: start;
            padding: 0 150px !important;
        }
        @include webXL 
        {
            text-align: start;
            padding: 0 150px !important;
        }
    }
    h2 
    {
        @include web 
        {
            text-align: start;
            padding: 0 150px !important;
            margin-bottom: 2rem;
        }
        @include webXL 
        {
            text-align: start;
            padding: 0 150px !important;
            margin-bottom: 2rem;
        }

    }
}