@import './_mixins.scss';
@import './variables' ;
@import './btn' ;


::placeholder
{
    color: #fff;
    
    
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;    
    border-bottom: 35px solid #F7D63A;
  }
.bg-primary
{
    background-color: $color-primary !important;
}
.bg-secondary
{
    background-color: $color-secondary !important;
}
.bg-darker
{
    background-color: $color-dark !important;
}
.font-primary
{
    color: $color-primary !important;
}
.font-secondary
{
    color: $color-secondary !important;
}
.navbar-brand
{
    img 
    {
        width: 64px;
        height: 64px;
    }
}
.banner
{
    width: 100%;
    height: auto;
}
.header-wrapper
{
    @include mobile
    {
        margin-top: 48px !important;
    }
}
.navbar
{
    @include mobile
    {
        // height: 80px !important;
        // padding-top: 0px !important;
    }
}
.text-items
{
    @include mobile
    {
       
    }
}
.sobremi-wrapper
{
    border-radius: 15px;
    // width: 80% !important;
    background-color: #566E7A !important; 
}
.avatar-wrapper
{
    width: 230px;
    height: 230px;  
    border-radius: 200px;
    overflow: hidden;
    img
    {
        width: 230px;
        height: auto;
        border-radius: 200px;
    }
}
.ref-wrapper
{
    background-color: #202527;
}
.ref-item
{
    
    width: 92% !important;
    margin: 0px auto;
    border-radius: 10px;
    height: 180px;
    padding: 30px;

    @include tablet 
    {

    }

}
.input-textarea
{

    background-color: #566E7A !important;
    border: 4px solid #fff;
    color: #fff;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 18px;
    font-family: Arial, Helvetica, sans-serif;

    &:focus
    {
        border-color: #fff;
        outline: none;
    }
}
.font-mini
{
    @include mobile
    {
        font-size: 15px !important;
    }
}
.carousel-control-prev-icon {
    background-image: none;
}
.carousel-control-next-icon {
    background-image: none;
}
#mainNav .navbar-nav {
    
    
    li
    {
        border-bottom: 1px solid #566E7A;
        
        &:first-of-type
        {
            border-top: 1px solid #F7D63A;
        }
        &:last-of-type
        {
            border-bottom: 1px solid #F7D63A;
            margin-bottom: 45px;
        }
    }

}
#mainNav {
   

    @include mobile
    {
        padding-top: 0;
        padding-bottom: 0;
    }
   
}
#mainNav .navbar-toggler {
    
    height: 100%;

    &:focus
    {
        height: 100%;
    }
}


.carousel-item
{

    
    .fotos 
    {
        width: 72% !important;
        height: auto !important;
        border: 15px solid #F7D63A;
        border-radius: 40px;
        box-shadow: 0px 0.5px 2px #ccc inset;
        margin: 0px auto !important;
    }
}

// .carousel-control-prev-icon-dark {
//     background-image: none !important;
// }
// .carousel-control-next-icon-dark {
//     background-image: none !important;
// }